@import url('fonts.googleapis.com');

*, *::before, *::after  {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

header {
    background-color: #1F2937;
    color: white;
}

.bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    width: 690px;
}

.bar ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    gap: 15px;
    /* width: 260px; */
}

.bar li {
    font-size: 18px;
    color: #E5E7EB;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.feature img {
    height: 200px;
    margin: 40px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0px 0px 12px;
}

.content1 {
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    padding: 50px;
}

.content1 ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 150px 50px;
    padding: 0px;
    gap: 30px;
}

.content1 li {
    list-style-type: none;
    padding: 0px;
    flex: 0 1 0;
    font-size: 14px;
    color:#1F2937
}

.content1 img {
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.content2 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
    background-color: #E5E7EB;
    flex-wrap: wrap;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300px;
    width: 800px;
}

.name {
    font-size: 18px;
    font-weight: 600;
    padding: 0px 20px;
    width: 800px;
    text-align: end;
}

.content3 {
    display: flex;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
}

.blue-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #3882F6;
    padding: 30px 150px;
    border-radius: 6px;
    flex-wrap: wrap;
    width: 1000px;
}

.action {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cta1 {
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.cta2 {
    color: white;
    font-size: 14px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: #1F2937;
    color: white;
    font-size: 14px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    padding: 8px 25px;
    font-weight: 600;
    max-width: 160px;
    max-height: 40px;
    flex-shrink: 0;
}