*, *::before, *::after  {
    box-sizing: border-box;
    border: 1px solid;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    height: 30vh;
}

.content1 {
    height: 25vh;
}

.content2 {
    height: 25vh;
}

.content3 {
    height: 15vh;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}