*, *::before, *::after  {
    box-sizing: border-box;
    border: 1px solid;
}

body {
    font-family: Roboto;
    height: 100vh;
    /* padding: 15px; */
    margin: 0;
}

header {
    height: 30vh;
    background-color: #1F2937;
    color: white;
}

.bar {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.bar li {
    font-size: 18px;
    color: #E5E7EB;
}

.content1 {
    height: 25vh;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    /* font-weight: 900; */
}

.content1 ul {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 0px 150px;
    padding: 30px;
    gap: 30px;
    flex: 1;
}

.content1 li {
    list-style-type: none;
    padding: 0px;
}

.content1 img {
    height: 150px;
}

.content2 {
    height: 25vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300px;
}

.name {
    font-size: 18px;
    font-weight: 600;
    padding: 0px 100px;
    align-self: flex-end;
}

.content3 {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #3882F6;
    padding: 30px 80px;
    border-radius: 6px;
    margin: 0px 150px;
}

.cta1 {
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.cta2 {
    color: white;
    /* font-size: 12px; */
}




footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: #1F2937;
    color: white;
    font-size: 14px;
}